[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"
pylint = "*"
responses = "*"
types-requests = "*"

python-dotenv = "*"
pytest = "<9.0.0"

#python-language-server = "*"
#pyls-mypy = "*"
#pyls-isort = "*"

[packages]
requests = "*"
python-backoff = "*"

[requires]
python_version = "3"
