[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"
pylint = "*"
pytest = "*"
python-dotenv = "*"
responses = "*"
types-requests = "*"

[packages]
requests = "*"
backoff = "*"

[requires]
python_version = "3"
